<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <h1>Which FinTech Focus Cohort do you belong in?</h1>
        <p>Answer the following questions for your answer!</p>
        <form method="post" action="/results">
            <input type="text" name="nickname" placeholder="Enter your nickname: " </> <br>
            <input type="text" name="color" placeholder="Enter your favorite color: " /> <br>
            <input type="text" name="food" placeholder="Enter your favorite food: "  /> <br>
            <label for="birthmonth">Enter your birth month below: </label> <br>
            <input type="month" name="birthmonth" placeholder="Enter your birth month: "  /> <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
